<!-- views/partials/footer.ejs -->

      	<div class="foothead_left">
			  	Copyright 2017 - <a href="#">Hypertube</a>
	  		</div>
		  	<div class="foothead_right">
			  	Réalisé par <a href="#">aren - nbelkaid - sbouyahi - vmariot</a>
		</div>