<div id="Signup" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
		    <div class="modal-header">
		        <h1 class="text-center color-blue">Register</h1>
		    </div>
		    <div class="modal-body">
		        <form method="post" action="/auth/signup">
		            <div class="row">
		                <div class="col-md-12 color-blue">
		                    <label>Lastname* :</label>
		                    <input name="lastname" type="text"  class="form-control input-lg" placeholder="Cooper" id="lastname_signup">
		                </div>
		                <div class="col-md-12 color-blue margin_top">
		                    <label>Firstname* :</label>
		                    <input name="firstname" type="text"  class="form-control input-lg" placeholder="Sheldon" id="firstname_signup">
		                </div>
		                <div class="col-md-12 color-blue margin_top">
		                    <label>Username* :</label>
		                    <input name="username" type="text"  class="form-control input-lg" placeholder="Shelly" id="username_signup">
		                </div>
		                <div class="col-md-12 color-blue margin_top">
		                    <label>Email* :</label>
		                    <input name="email" type="email"  class="form-control input-lg" placeholder="scooper@student.42.fr" id="email_signup">
		                </div>
		                <div class="col-md-6 color-blue margin_top">
		                    <label>Password* :</label>
		                    <input name="pwd" type="password" class="form-control input-lg" placeholder="SpoK23675aDefc0" id="password_signup">
		                </div>
		                <div class="col-md-6 color-blue margin_top">
		                    <label>Confirm Password* :</label>
		                    <input name="pwd2" type="password" class="form-control input-lg" placeholder="SpoK23675aDefc0" id="passwordConfirm_signup">
		                </div>
		                <div class="col-md-12 color-blue margin_top">
		                    <p>*Required fields</p>
		                </div>
		                <div class="col-md-12 valider margin_top">
		                    <button type="submit" class="btn prim_button btn-lg btn-block" id="submit_signup">Send</button>
		                </div>
		            </div>
		         </form>
		    </div>
		</div>
	</div>
</div>