<!DOCTYPE html>
<html lang="fr">
  <head>
    <% include partials/head %>
  </head>

  <body>
    <div class="truc"></div>
    <div class="page">
      <header>
        <% include partials/header %>
      </header>
      <main>
        <div class="welcome">WELCOME<div>
      </main>
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
