/* COMPTE */

.profil {
	position: absolute;
	top: 14em;
	left: 20%;
	right: 20%;
	height: 1em;
}

.profil_link {
	position: relative;
	transform: translate(50%, 0);
	width: 50%;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	font-size: 2em;
	border-style: solid;
	border-width: 0.033em 0.033em 0.033em 0.033em;
	border-color: rgba(146, 91, 91, 0.2);
	background-color: rgba(249, 175, 175, 0.2);
	color: rgba(62, 62, 91, 1);
}

.profil_link:hover {
	background-color: rgba(249, 175, 175, 0.5);
}

.text_co {
	text-decoration: none;
	color: rgba(62, 62, 91, 1);
}