<!-- views/body/footer.ejs -->
<div class="chat_box koko">
	<div class="chat_head">Chat</div>
	<div class="chat_body"></div>
</div>
<audio id="audio-notif" style='display: none;'>
	<source src="/sons/Mario-Bros.mp3" type="audio/mpeg">
	<embed src="/sons/Mario-Bros.mp3"></embed>
</audio>