<!-- views/body/footer.ejs -->
		<footer>
			<div class="foothead_left">
				Copyright 2017 - <a href="#">Matcha</a>
			</div>
			<div class="foothead_right">
				Réalisé par <a href="#">Aren</a>
			</div>
			<div class="clear"></div>
		</footer>
	</body>
</html>
<script src="/js/lib/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js"></script>
<script src="/js/lib/materialize.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkctmtVkGmRWN_9sAnbGuCaKd5U7f0xz8"></script>
<script src="/js/lib/gmaps.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>
<script src="/js/lib/nouislider.min.js"></script>
<script src="/js/main.js"></script>